.contenedor{
  position: relative;
}

.center{
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
}

.tabla {
  border-collapse: collapse;

  th {
    padding: 4px 8px;
    height: 24px;
    background-color: lightgray;
    border: solid gray;

    &:not(:first-child):not(:last-child) {
      border-width: 2px 0;
    }

    &:first-child {
      border-width: 2px 0 2px 2px;
    }

    &:last-child {
      border-width: 2px 2px 2px 0;
    }
  }

  tr {
    td {
      padding: 4px 8px;
      height: 24px;

      &:first-child {
        border: solid gray;
        border-width: 0 0 0 2px;
      }

      &:last-child {
        border: solid gray;
        border-width: 0 2px 0 0;
      }
    }

    &:hover {
      td {
        background-color: lightcyan;
      }
    }

    &:last-child {
      td {
        border: solid gray;

        &:not(:first-child):not(:last-child) {
          border-width: 0 0 2px 0;
        }

        &:first-child {
          border-width: 0 0 2px 2px;
        }

        &:last-child {
          border-width: 0 2px 2px 0;
        }
      }
    }
  }
}
